In [15]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Flipkart Mobile - 2.csv to Flipkart Mobile - 2.csv

In [3]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Flipkart Mobile - 2.csv']))

In [4]:
df2_copy = df2.copy()

In [5]:
df2_copy.columns

Index(['brand', 'model', 'base_color', 'processor', 'screen_size', 'ROM',
       'RAM', 'display_size', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

In [6]:
#'brand','model','base_color','processor','screen_size'
df2_copy = df2_copy.drop(['brand', 'model', 'base_color', 'processor','screen_size'],axis= 1)
df2_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ROM               430 non-null    int64
 1   RAM               430 non-null    int64
 2   display_size      430 non-null    float64
 3   num_rear_camera   430 non-null    int64
 4   num_front_camera  430 non-null    int64
 5   battery_capacity  430 non-null    int64
 6   ratings           430 non-null    float64
 7   num_of_ratings    430 non-null    int64
 8   sales_price       430 non-null    int64
 9   discount_percent  430 non-null    float64
 10  sales             430 non-null    float64
dtypes: float64(4), int64(7)
memory usage: 37.1 KB

In [7]:
# Train Test Split
price_train, price_test = train_test_split(df2_copy,train_size = 0.7, random_state = 42)

In [8]:
print(price_train.shape)
print(price_test.shape)

(301, 11)
(129, 11)

In [9]:
y_train = price_train.pop('sales')
x_train = price_train

y_test = price_test.pop('sales')
x_test = price_test

In [10]:
#scaling
scaler = StandardScaler()
x_train[x_train.columns]= scaler.fit_transform(x_train[x_train.columns])
x_train.describe()

,ROM,RAM,display_size,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent
count,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02
mean,1.434807e-16,1.148952e-16,-1.617200e-15,7.524435e-17,-5.316899e-16,-2.947070e-16,1.452142e-15,-2.360607e-17,-4.831868e-17,-5.458904e-17
std,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00
min,-1.514026e+00,-1.959839e+00,-4.684510e+00,-2.134030e+00,-1.937357e-01,-2.934607e+00,-8.865521e+00,-4.251426e-01,-8.303939e-01,-1.371228e+00
25%,-6.490443e-01,-6.221710e-01,2.947971e-02,-1.048991e+00,-1.937357e-01,-5.865925e-01,-2.101359e-01,-4.152876e-01,-5.628121e-01,-6.668941e-01
50%,3.395064e-01,2.696074e-01,3.067732e-01,3.604780e-02,-1.937357e-01,2.030984e-01,-2.101359e-01,-3.351030e-01,-3.497986e-01,-2.442939e-01
75%,3.395064e-01,2.696074e-01,3.067732e-01,1.121087e+00,-1.937357e-01,4.347410e-01,4.556630e-01,-3.692403e-02,1.214311e-01,7.417735e-01
max,6.270811e+00,2.944943e+00,3.357001e+00,1.121087e+00,8.136898e+00,2.540583e+00,1.787261e+00,1.108504e+01,5.680907e+00,3.981709e+00

In [11]:
x_test[x_test.columns]= scaler.fit_transform(x_test[x_train.columns])
x_test.describe()

,ROM,RAM,display_size,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent
count,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02
mean,-1.118829e-17,-9.983401e-17,1.292678e-15,-4.561381e-17,-3.855658e-16,3.356488e-16,-1.982910e-15,9.467018e-18,-5.680211e-17,4.303190e-17
std,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00
min,-1.644504e+00,-2.057358e+00,-4.225508e+00,-1.755948e+00,-2.008048e-01,-2.464493e+00,-3.001388e+00,-4.100181e-01,-9.501419e-01,-1.267130e+00
25%,-6.962365e-01,-5.691382e-01,-5.828983e-01,-7.580745e-01,-2.008048e-01,-3.749225e-01,-3.764453e-01,-3.936416e-01,-7.010604e-01,-7.579097e-01
50%,3.874982e-01,-5.691382e-01,4.578474e-01,2.397991e-01,-2.008048e-01,9.997982e-02,-3.764453e-01,-3.151899e-01,-4.519790e-01,-2.486891e-01
75%,3.874982e-01,4.230081e-01,4.578474e-01,1.237673e+00,-2.008048e-01,5.748821e-01,9.360262e-01,-9.845748e-02,2.454491e-01,6.424469e-01
max,2.554968e+00,3.399447e+00,9.782203e-01,1.237673e+00,4.979960e+00,2.474491e+00,1.592262e+00,7.917972e+00,3.134794e+00,4.206991e+00

In [12]:
lr = LinearRegression()
price_reg = lr.fit(x_train,y_train)

Let us check the R-Squared

In [13]:
price_reg.score(x_train,y_train)

0.9159599346646029

In [14]:
price_reg.score(x_test,y_test)

0.8991360258305618

In [16]:
import statsmodels.api as sm

In [17]:
x_train_sm = sm.add_constant(x_train)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [18]:
x_train_sm

,const,ROM,RAM,display_size,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent
402,1.0,-0.649044,-0.622171,-0.247814,-1.048991,-0.193736,-0.618180,1.121462,2.104442,-0.457995,-1.089494
118,1.0,-0.649044,-0.622171,0.306773,0.036048,-0.193736,0.434741,0.455663,-0.412116,-0.434516,-0.666894
114,1.0,-1.143320,-1.513949,0.306773,-2.134030,-0.193736,0.434741,-0.210136,-0.338310,-0.763809,-0.385161
137,1.0,0.339506,-0.622171,0.306773,0.036048,-0.193736,0.434741,-0.210136,-0.248665,-0.370369,-1.230361
318,1.0,-0.649044,-0.622171,0.306773,0.036048,-0.193736,0.434741,-0.875935,-0.424802,-0.545663,-1.089494
...,...,...,...,...,...,...,...,...,...,...,...
71,1.0,0.339506,0.269607,0.861360,1.121087,-0.193736,0.603208,0.455663,-0.241032,-0.263456,1.305241
106,1.0,0.339506,0.269607,0.861360,1.121087,-0.193736,1.487662,-0.210136,0.054137,-0.348986,1.164374
270,1.0,0.339506,0.269607,0.029480,1.121087,-0.193736,1.487662,-0.210136,-0.335103,-0.323327,-1.371228
348,1.0,0.339506,1.161386,0.861360,1.121087,-0.193736,0.434741,-0.210136,-0.422957,0.420788,0.741773
102,1.0,0.339506,0.269607,0.306773,1.121087,-0.193736,0.434741,-0.210136,1.333578,-0.584195,1.727841

In [19]:
lr = sm.OLS(y_train,x_train_sm).fit()

In [20]:
lr

In [22]:
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.916
Model:                            OLS   Adj. R-squared:                  0.913
Method:                 Least Squares   F-statistic:                     316.1
Date:                Tue, 26 Apr 2022   Prob (F-statistic):          1.56e-149
Time:                        12:37:38   Log-Likelihood:                -1258.5
No. Observations:                 301   AIC:                             2539.
Df Residuals:                     290   BIC:                             2580.
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               29.0430      0.930     31.237      0.000      27.213      30.873
ROM                 -1.6433      1.695     -0.969      0.333      -4.980       1.693
RAM                  4.8486      1.642      2.952      0.003       1.616       8.081
display_size        -4.4248      1.529     -2.894      0.004      -7.434      -1.415
num_rear_camera     -0.0690      1.346     -0.051      0.959      -2.717       2.579
num_front_camera     0.3429      1.035      0.331      0.741      -1.694       2.380
battery_capacity     0.1075      1.664      0.065      0.949      -3.167       3.382
ratings              3.7879      1.098      3.449      0.001       1.626       5.950
num_of_ratings      50.9018      1.013     50.258      0.000      48.908      52.895
sales_price         -1.5462      1.622     -0.953      0.341      -4.739       1.646
discount_percent     2.9113      0.959      3.035      0.003       1.024       4.799
==============================================================================
Omnibus:                      138.223   Durbin-Watson:                   1.910
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1728.582
Skew:                           1.521   Prob(JB):                         0.00
Kurtosis:                      14.339   Cond. No.                         4.59
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [23]:
df2_2copy = df2.copy()

In [24]:
df2_copy.columns

Index(['ROM', 'RAM', 'display_size', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

In [25]:
df2_copy = df2_copy.drop(['ROM', 'num_rear_camera', 'num_front_camera','battery_capacity','sales_price'],axis= 1)
df2_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RAM               430 non-null    int64
 1   display_size      430 non-null    float64
 2   ratings           430 non-null    float64
 3   num_of_ratings    430 non-null    int64
 4   discount_percent  430 non-null    float64
 5   sales             430 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 20.3 KB

In [26]:
# Train Test Split
price_train, price_test = train_test_split(df2_copy,train_size = 0.7, random_state = 42)

In [27]:
print(price_train.shape)
print(price_test.shape)

(301, 6)
(129, 6)

In [28]:
y_train = price_train.pop('sales')
x_train = price_train

y_test = price_test.pop('sales')
x_test = price_test

In [29]:
#scaling
scaler = StandardScaler()
x_train[x_train.columns]= scaler.fit_transform(x_train[x_train.columns])
x_train.describe()

,RAM,display_size,ratings,num_of_ratings,discount_percent
count,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02
mean,1.148952e-16,-1.617200e-15,1.452142e-15,-2.360607e-17,-5.458904e-17
std,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00,1.001665e+00
min,-1.959839e+00,-4.684510e+00,-8.865521e+00,-4.251426e-01,-1.371228e+00
25%,-6.221710e-01,2.947971e-02,-2.101359e-01,-4.152876e-01,-6.668941e-01
50%,2.696074e-01,3.067732e-01,-2.101359e-01,-3.351030e-01,-2.442939e-01
75%,2.696074e-01,3.067732e-01,4.556630e-01,-3.692403e-02,7.417735e-01
max,2.944943e+00,3.357001e+00,1.787261e+00,1.108504e+01,3.981709e+00

In [30]:
x_test[x_test.columns]= scaler.fit_transform(x_test[x_train.columns])
x_test.describe()

,RAM,display_size,ratings,num_of_ratings,discount_percent
count,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02,1.290000e+02
mean,-9.983401e-17,1.292678e-15,-1.982910e-15,9.467018e-18,4.303190e-17
std,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00,1.003899e+00
min,-2.057358e+00,-4.225508e+00,-3.001388e+00,-4.100181e-01,-1.267130e+00
25%,-5.691382e-01,-5.828983e-01,-3.764453e-01,-3.936416e-01,-7.579097e-01
50%,-5.691382e-01,4.578474e-01,-3.764453e-01,-3.151899e-01,-2.486891e-01
75%,4.230081e-01,4.578474e-01,9.360262e-01,-9.845748e-02,6.424469e-01
max,3.399447e+00,9.782203e-01,1.592262e+00,7.917972e+00,4.206991e+00

In [31]:
lr = LinearRegression()
price_reg = lr.fit(x_train,y_train)

In [32]:
price_reg.score(x_train,y_train)

0.9143660673178863

In [33]:
price_reg.score(x_test,y_test)

0.8983285002504878

In [34]:
x_train_sm = sm.add_constant(x_train)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [35]:
x_train_sm

     const       RAM  display_size   ratings  num_of_ratings  discount_percent
402    1.0 -0.622171     -0.247814  1.121462        2.104442         -1.089494
118    1.0 -0.622171      0.306773  0.455663       -0.412116         -0.666894
114    1.0 -1.513949      0.306773 -0.210136       -0.338310         -0.385161
137    1.0 -0.622171      0.306773 -0.210136       -0.248665         -1.230361
318    1.0 -0.622171      0.306773 -0.875935       -0.424802         -1.089494
..     ...       ...           ...       ...             ...               ...
71     1.0  0.269607      0.861360  0.455663       -0.241032          1.305241
106    1.0  0.269607      0.861360 -0.210136        0.054137          1.164374
270    1.0  0.269607      0.029480 -0.210136       -0.335103         -1.371228
348    1.0  1.161386      0.861360 -0.210136       -0.422957          0.741773
102    1.0  0.269607      0.306773 -0.210136        1.333578          1.727841

[301 rows x 6 columns]

In [36]:
lr = sm.OLS(y_train,x_train_sm).fit()

In [37]:
lr

In [38]:
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.914
Model:                            OLS   Adj. R-squared:                  0.913
Method:                 Least Squares   F-statistic:                     630.0
Date:                Tue, 26 Apr 2022   Prob (F-statistic):          4.39e-155
Time:                        12:49:52   Log-Likelihood:                -1261.3
No. Observations:                 301   AIC:                             2535.
Df Residuals:                     295   BIC:                             2557.
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               29.0430      0.931     31.210      0.000      27.212      30.874
RAM                  2.8367      1.113      2.548      0.011       0.646       5.028
display_size        -3.8867      1.171     -3.320      0.001      -6.191      -1.583
ratings              3.2704      1.021      3.205      0.002       1.262       5.279
num_of_ratings      51.3475      0.970     52.929      0.000      49.438      53.257
discount_percent     2.8927      0.952      3.037      0.003       1.018       4.767
==============================================================================
Omnibus:                      134.277   Durbin-Watson:                   1.923
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1680.119
Skew:                           1.462   Prob(JB):                         0.00
Kurtosis:                      14.199   Cond. No.                         2.12
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.